* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
     font-family: "Poppins", sans-serif;
    background-color: black;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     
     }

 .container {
     width: 300px;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
     border-radius: 20px;
     background-color:  rgba(0, 0, 0, 0.758);
     margin-top: 200px;
     border: solid 2px rgb(255, 255, 255);
}
    
h2 {
    color: rgb(1, 255, 128);
    font-size: 39px;
    margin-top: 3px;
    margin-bottom: 15px;;
}    

input {
    height: 28px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding-left: 10px;
    
    
}

button {
    background-color: rgb(43, 255, 0);;
    border: solid 2px rgb(0, 0, 0);
    color: rgb(83, 81, 81);;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(43, 255, 0);
    color: rgb(35, 35, 35);
    font-weight: 600;
}

form label {
    color: #ffffff;
    margin-top: 10px;
}

.bi {
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

.nombre {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nombre:hover {
    color: rgb(43, 255, 0);
    text-decoration: underline;
    font-weight: 600;
}